@font-face {
  font-family: jeju;
  src: url(Jeju.ttf);
}
* {
  box-sizing: boarder-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: jeju;
}
.in {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgba(221, 202, 202, 0.851),
    rgb(229, 183, 183)
  );
  padding: 10px 150px 5px 150px;
}
.NavBar h2 {
}
li,
a {
  color: black;
  text-decoration: none;
  list-style: none;
}
.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0 13px;
  border-bottom: solid 1px black;
  font-size: 25px;
}
nav ul li {
  display: inline-block;
  padding: 0 20px;
  color: rgba(81, 81, 81, 0.196);
}
.contact {
  color: rgba(183, 20, 20, 0.947);
}
.intro {
  text-align: center;
  margin: 100px;
  font-size: 40px;
  display: block;
  align-items: center;
  padding: 70px 0 40px;
  max-width: 1200px;
  background-image: linear-gradient(
    -43deg,
    rgb(255, 63, 63),
    rgba(121, 34, 34, 0.619),
    rgb(0, 0, 0)
  );
  -webkit-background-clip: text;
  color: transparent;
}
.intro div {
  padding: 10px 0 10px;
}
.projects {
  margin: 80px auto;
}
.project {
  margin: 50px auto 120px;
  border: solid black 1px;
  background-color: black;
  width: 900px;
  height: 300px;
  border-radius: 0.5rem;
}
.overlap {
  width: 900px;
  height: 300px;
  border-radius: 0.5rem;
  border: solid black 1px;
  margin: 80px;
  background-color: brown;
}
.overlap2 {
  width: 900px;
  height: 300px;
  border-radius: 0.5rem;
  border: solid black 1px;
  margin: 80px -80px;
  background-color: brown;
}
.contactHolder {
  margin: 100px 40px;
  height: 250px;
  background-color: black;
  padding: 18px 40px;
  border-radius: 0.7rem;
}
.contacts {
  font-size: 30px;
  background-color: rgb(160, 20, 20);
  color: white;
  padding: 40px;
  padding-left: 60px;
  height: 170px;
  border-radius: 0.7rem;
}
.contacts h3 {
  width: 400px;
  padding-bottom: 40px;
}
.footerContainer {
  display: flex;
  margin-bottom: 100px;
}
.BottomNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.BottomNav ul li {
  display: inline-block;
  padding: 0 5px;
}
